.intro {

}

.index {
    background-color:#CEEFFF;
    color:#2F8ECD;
}

.header1 {
    color:#0068AD;
}

.sources {
    font-size:14px;
}

.gameplay {
    background-color:#FFCFD7;
    color:#D7415C;
}

.header2 {
    color:#BA223E;
}

.units {
    background-color:#FFE2CF;
    color:#E8A375;
}

.header3 {
    color:#AA5924;
}

.leo-need {
    color:#3C328B;
    background-color:#C7BEFF;
    border-style:inset;
    border-color:#7668DC;
    border-width:5px;
}

.leo-need2 {
    color:#7668DC;
    background-color:#E4E0FF;
    border-style:none;
    padding-bottom:1px;
    padding-top:1px;
}

.leo-text {
    margin-left:10px;
    margin-right:10px;
}

.leo-text2 {
    margin-left:15px;
}

.five-units {
    color:#D07940;
}

.mmj {
    color:#358C32;
    background-color:#C3FFBF;
    border-style:inset;
    border-color:#7ADB67;
    border-width:5px;
}

.mmj2 {
    color:#67BB56;
    background-color:#E0FFE5;
    border-style:none;
    padding-bottom:1px;
    padding-top:1px;
}

.mmj-text {
    margin-left:10px;
    margin-right:10px;
}

.mmj-text2 {
    margin-left:15px;
}

.vbs {
    color:#8C324D;
    background-color:#FFBFD5;
    border-style:inset;
    border-color:#DB6790;
    border-width:5px;
}

.vbs2 {
    color:#DF3E7F;
    background-color:#FFE0F3;
    border-style:none;
    padding-bottom:1px;
    padding-top:1px;
}

.vbs-text {
    margin-left:10px;
    margin-right:10px;
}

.vbs-text2 {
    margin-left:15px;
}

.wxs {
    color:#8C7632;
    background-color:#FFEDBF;
    border-style:inset;
    border-color:#DBBC67;
    border-width:5px;
}

.wxs2 {
    color:#CD9D19;
    background-color:#FFF2E0;
    border-style:none;
    padding-bottom:1px;
    padding-top:1px;
}

.wxs-text {
    margin-left:10px;
    margin-right:10px;
}

.wxs-text2 {
    margin-left:15px;
}

.nightcord {
    color:#8C3280;
    background-color:#FCBFFF;
    border-style:inset;
    border-color:#D767DB;
    border-width:5px;
}

.nightcord2 {
    color:#C93EDE;
    background-color:#FEE0FF;
    border-style:none;
    padding-bottom:1px;
    padding-top:1px;
}

.nightcord-text {
    margin-left:10px;
    margin-right:10px;
}

.nightcord-text2 {
    margin-left:15px;
}