body {
    background-color:#C8C0F3;
}

#title1 {
    font-family:"Charm";
    color:#3f2da1;
    padding: 15px 30px 15px 30px;
}

.box1 {
    width:240px;
    height; 5px;
    border: 5px solid #fff6b5;
    border-radius: 5px;
    margin: 100px 15px 15px 50px;
    background-color:#ffec5c;
}

.cool-navbar {
    margin: 25px 0px 0px 60%;
}

.contacts-title {
	padding: 10px 50px 20px 50px;
    margin: 100px;
    width: 150px;
    height: 70px;
    background-color:#e1dcfa;
    text-align: center;
    font-family:"Charm";
    font-size: 15px;
    color:#654fe0;
    border-radius:5px;
    border-style: dashed;
	display:block;
}

.contact {
	margin: 0px 0px 60px 200px;
	padding: 5px 20px 5px 20px;
    background-color:#301ba6;
    width: 200px;
	height: 50px;
    text-align: center;
    font-size: 20px;
    font-family:"Playfair Display";
    color:#e1dcfa;
	display:block;
}

.contact-links {
    margin: 13px 50px 13px 50px;
}
    
/*
a:link {
    padding: 5px 10px 5px 10px;
    color:#fff6b5;
    background-color:#ffec5c;
    border-radius: 5px;
    border-style: none none dashed none;
    text-decoration: none;
    width: 10px;
    height: 10px;
}

a:visited {
    color:#654fe0;
    background-color:#e1dcfa;
}
*/